p.uma-classe{
	color: blue;
}

table{
	text-align:center;
	margin-left:auto;
	margin-right:auto;
	width: 50%;
	border: 4; 
}


body {
  color: #333333;
	background-image: url("img/body-background.png"); 
 font-family: sans-serif;
}

h1 {	
    background-image: url("img/sobre-background.jpg");
	text-align: center;
}

h2 {
    border-bottom: 2px solid #333333;
}

figure {
  background-color: #F2EDED;
  border: 2px solid #ccc;
  text-align: center;
	
}

figcaption {
  font-style: italic;
}

footer {
    color: #777;
    margin: 30px 0;
    padding: 30px 0;	
    background-image: url("img/fundo-rodape.png");
    margin-bottom: 30px;
	
}

#redes{
float: right;
    margin: 0 0 10px 10px;
}
 
#redes:hover{
transform: scale(1.4,1.4);
}

#rodape img {
    margin-right: 20px;
    vertical-align: middle;
    width: 20px;		
}

footer {
	bottom:0;
	width:100%;
}

table,td,th{
  border: 1px solid grey;
}
